<div class="container container-detail">
  <div class="row">
    <div class="col-md-12" style="display: flex;align-items: center;justify-content: center;margin-bottom: 30px;">
      <img class="image_" src="../../../assets/image/news02img01.jpeg" alt="">
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="title">
	Kunjungan Menteri Sekretaris Negara, Menteri PUPR, dan Wakil Menteri II BUMN di TMII
      </div>
      <hr>
      <div class="content">
	<p>
Selasa (25/01) - InJourney bersama PT Taman Wisata Candi Borobudur, Prambanan, dan Ratu Boko (TWC) @media_twc selaku pengelola TMII menerima kunjungan dari Menteri Sekretaris Negara (Mensesneg) @kemensetneg.ri , Menteri PUPR @kemenpupr , dan Wakil Menteri II BUMN Bapak @tiko1973 di Taman Mini Indonesia Indah.
	</p><p>
Kunjungan ini dalam rangka memastikan pelaksanaan revitalisasi TMII sebagai bagian dari percepatan pelaksanaan pembangunan infrastruktur untuk mendukung penyelenggaraan acara internasional, khususnya G20 yang akan dilaksanakan dalam waktu dekat.
	</p><p>
Pada kegiatan ini, para menteri berkesempatan melihat beberapa area proyek yang sedang dalam tahap proses revitalisasi sekaligus mendengarkan paparan penjelasan terkait proyek ini.
	</p><p>
	  Revitalisasi ini ditargetkan selesai pada Oktober 2022 untuk beberapa area utama. Tentunya, InJourney akan terus mendorong dan mengawal proses revitalisasi ini agar berjalan sesuai target agar TMII dapat segera dinikmati oleh masyarakat Indonesia.
	  </p>
      </div>
    </div>
  </div>
  
</div>
