<div class="container container-detail">
    <div class="row">
        <div class="col-md-12" style="display: flex;align-items: center;justify-content: center;margin-bottom: 30px;">
            <img class="image_" src="../../../assets/image/fasilitas-umum.jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="title">
                Fasilitas Umum
            </div>
            <hr>
            <div class="content">
                <p>Fasilitas yang ada di jurug Solo Zoo digunakan sarana untuk kenyamanan pengunjung&nbsp;</p>
                <div class="title">
                    Fasilitas yang tersedia 
                </div>
                <ul>
                    <li>Tempat cuci tangan&nbsp;</li>
                    <li>Mushola</li>
                    <li>toilet</li>
                    </ul>
            </div>
        </div>
    </div>
    
    </div>