<div class="container-type mt-4">
    <div class="card card-tikect-type">
        <div class="row">
            <div class="col-md-6">
                <!-- {{ticket.title}} -->
                {{ticket.name}}

            </div>
            <div class="col-md-6 price-ticket-type">
                <!-- Rp. {{formatNumber(ticket.price)}} -->
                Rp. {{formatNumber(ticket.originalPrice)}}

            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-3">
                <div class="input-group">
                    <div class="input-group-prepand">
                        <span class="input-group-text minus" (click)="minus()">
                            -
                        </span>
                    </div>
                    <input
                        min={0}
                        pattern="[0-9]*"
                        class="form-control counter"
                        placeholder=''
                        [value]=[quantity]
                    />
                    <div class="input-group-append">
                        <span class="input-group-text plus" (click)="plus()">
                            +
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <form class="form-inline">
                    <div class="form-group">
                        <div class="input-group" style="width: 200px;">
                        <input (click)="d.toggle()" class="form-control date" placeholder="yyyy-mm-dd" 
                                [minDate]="minDate"name="dp" [(ngModel)]="model" [placement]="placement" ngbDatepicker #d="ngbDatepicker">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">
                                <i class="bi bi-calendar3"></i>
                            </button>
                        </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-3">
                <select class="form-select form-select-sm" [(ngModel)]="selectedTime">
                    <option value="07-08">
                        07.00 - 08.00
                    </option>
                    <option value="08-09">
                        08.00 - 09.00
                    </option>
                    <option value="10-11">
                        10.00 - 11.00
                    </option>
                    <option value="11-12">
                        11.00 - 12.00
                    </option>
                </select>
            </div>
            <div class="col-2">
                <button type="button" class="btn btn-orange" (click)="addToCart(content)" [swal]="['Oops!', 'This is not implemented yet :/', 'warning']">Pesan</button>
            </div>
        </div>
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Success Add to Cart</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div>
            Your item has been added to cart.
        </div>

      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="modal.close('Save click')">Continue Shopping</button>
      <button type="button" class="btn btn-success" (click)="viewCart()">View Cart</button>
    </div>
  </ng-template>