<footer class="container-footer" id="footerpage">
    <div class="container pt-3">
        <div class="row">
            <div class="col-md-4">
              <div id="google_translate_element"></div>
            </div>
            <div class="col-md-4 container-foot-icon">
              <a href="https://www.facebook.com/injourney.id"
		 target="_blank" >
                <div class="container-icon">
                  <img src='/assets/logo/facebook.svg'/>
                </div>
              </a>
              <a href="https://www.instagram.com/injourney.id/?hl=id"
		 target="_blank">
                <div class="container-icon">
                  <img src='/assets/logo/instagram.svg'/>
                </div>
              </a>
              <a href="https://twitter.com/injourneyID"
		 target="_blank">
                <div class="container-icon">
                  <img src='/assets/logo/twitter.svg'/>
                </div>
              </a>
            </div>
            <div class="col-md-4">

            </div>
        </div>
        <div class="row pt-5 ">

	  <div class="col">
            <h5 class="title mt-3">Address</h5>
            <li class="list-unstyled">
              <a href="#!">
                PT Aviasi Pariwisata Indonesia (Persero)
              </a>
            </li>
          </div>

	  <div class="col">
            <h5 class="title mt-3"></h5>
            
          </div>
          
          <div class="col">
            <h5 class="title mt-3">Mail</h5>
            <li class="list-unstyled">
	      <a href="#!">info@injourney.id</a>
            </li>
          </div>

	  
        </div>
        <div class="row pt-4">
            <div class="col" style="font-size: 0.8rem;">
                Copyrights © 2021 GlobalTix. All rights reserved.
            </div>
        </div>
    </div>
</footer>
