.container-footer {
  background-color: #181818;
  color: white;
  text-align: center;
  padding: 2rem;
}

.list-unstyled a {
  list-style: none;
  text-decoration: none;
  color: white;
}

.container-icon {
  cursor: pointer;
  width: 45px;
  height: 45px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.container-foot-icon {
  display: flex;
  justify-content: space-between;
}

.footer-left {
  text-align: left;
}
