<header class="fixed-top">
    <nav class="navbar navbar-expand-lg navbar-light" id="header-navbar" >
        <div class="container">
            <img routerLink="/" class="icon_logo" src="/assets/logo/logo2.jpeg" alt="">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link-cus " [ngClass]="{'nav-link-active': place==='labuan-bajo'}" aria-current="page" routerLink="/">BERANDA</a>
              </li>
              <li class="nav-item" ngbDropdown>
                <a class="nav-link-cus " [ngClass]="{'nav-link-active': place==='profil'}" href="#" (click)="false" ngbDropdownToggle>PROFIL</a>
                <div ngbDropdownMenu>
		  <button ngbDropdownItem routerLink="/profil">PROFIL</button>
                  <button ngbDropdownItem routerLink="/profil/sambutan-direktur">SAMBUTAN DIREKTUR</button>
                  <button ngbDropdownItem routerLink="/profil/visi-misi">VISI - MISI</button>
                  <button ngbDropdownItem  routerLink="/profil/sejarah">SEJARAH</button>
                  <button ngbDropdownItem>STRUKTUR ORGANISASI</button>
                </div>
              </li>
              <li class="nav-item" ngbDropdown>
                <a class="nav-link-cus " [ngClass]="{'nav-link-active': place==='danau-toba'}" href="#" (click)="false" ngbDropdownToggle>INFO</a>
                <div ngbDropdownMenu>
                  <button ngbDropdownItem routerLink="/berita">BERITA</button>
                    
                </div>
              </li>
	      <li class="nav-item" ngbDropdown>
                <a class="nav-link-cus " [ngClass]="{'nav-link-active': place==='danau-toba'}" href="#" (click)="false" ngbDropdownToggle>Garuda</a>
                <div ngbDropdownMenu>
                  <a ngbDropdownItem href="https://www.garuda-indonesia.com/">
		    Garuda</a>
                  <a ngbDropdownItem href="https://www.citilink.co.id/en">
		    Citilink</a>
		  <a ngbDropdownItem href="https://www.pelita-air.com/">
		    Pelita Air</a>
                </div>
              </li>
	      <li class="nav-item" ngbDropdown>
                <a class="nav-link-cus " [ngClass]="{'nav-link-active': place==='danau-toba'}" href="#" (click)="false" ngbDropdownToggle>TWC</a>
                <div ngbDropdownMenu>
                  <button ngbDropdownItem>TWC</button>
                  <a ngbDropdownItem href="https://borobudurpark.com/">
		    Borobudur</a>
		  <a ngbDropdownItem href="https://www.tamanmini.com/">
		    TMII</a>
                </div>
              </li>
	      <li class="nav-item" ngbDropdown>
                <a class="nav-link-cus " [ngClass]="{'nav-link-active': place==='danau-toba'}" href="#" (click)="false" ngbDropdownToggle>ITDC</a>
                <div ngbDropdownMenu>
		  <a ngbDropdownItem href="https://www.itdc.co.id/">
		    ITDC</a>
		  <a ngbDropdownItem href="https://xplorin.id">
		    Xplorin</a>
		  <a ngbDropdownItem href="https://themandalikagp.com/">
		    MGPA</a>
                </div>
              </li>
	      
	      <li class="nav-item">
                <a class="nav-link-cus " [ngClass]="{'nav-link-active': place==='labuan-bajo'}" aria-current="page" routerLink="/">HIN</a>
              </li>
	      <li class="nav-item">
                <a class="nav-link-cus " [ngClass]="{'nav-link-active': place==='labuan-bajo'}" aria-current="page" routerLink="/">Sarinah</a>
              </li>
	      <li class="nav-item">
                <a class="nav-link-cus " [ngClass]="{'nav-link-active': place==='labuan-bajo'}" aria-current="page" routerLink="/">Angkasa Pura</a>
              </li>
            </ul>
          </div>
          <!-- <div>
               <div class="border-logo<">
              <span class="badge badge-notif">{{notifCart}}</span>
            <i class="bi bi-basket2-fill icon_ btn-cart" routerLink="/cart/view"></i>
            </div>
          </div> -->
        </div>
      </nav>
</header>
