@import "/src/styles.scss";
.top-header {
  background-color: #1e1d23;
}

.ex-header {
  background-color: #1e1d23;
}

.container-header {
  display: flex;
  align-items: center;
  padding-right: 20px;
}

.navbar {
  padding-top: 25px !important;
  padding-bottom: 25px !important;
}

.icon_ {
  color: black;
  cursor: pointer;
}

.icon_logo {
  color: $main-color;
  max-height: 60px;
  cursor: pointer;
  margin-right: 10px;
}

.logo-header {
  text-decoration: none;
  color: $main-color;
  font-size: 1.5rem;
}

.logo-header:hover {
  text-decoration: none;
  color: $main-color;
}

.nav-link-cus {
  display: block;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
  color: black;
  font-weight: 600;
  padding: 0.5rem 1rem;
}

.nav-link-active {
  color: #0099cc !important;
}

.nav-link-cus:hover {
  text-decoration: none;
  color: $main-color;
}

.btn-cart {
  cursor: pointer;
  font-size: 1.5rem;
}

.btn-sosmed {
  cursor: pointer;
  font-size: 1.2rem;
  color: white;
  margin-right: 10px;
}

.badge-notif {
  background-color: #ffc222;
  position: absolute;
  z-index: 999;
  margin-left: 15px;
  bottom: 25px;
  font-size: 0.7rem;
  color: #1e1d23;
}

.border-logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 0.8px solid #999999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.border-logo:hover {
  background-color: #ffc222;
  border: 0.8px solid #999999;
}

.dropdown-item {
  color: #1e1d23;
  font-weight: 600;
}
