.container-detail {
  margin-top: 170px;
  padding-left: 20px;
}

.image_ {
  width: 100%;
}

.title {
  font-weight: 700;
  font-size: 30px;
  color: black;
}

.content {
  margin-top: 20px;
  color: #696969;

  p {
    font-size: 18px;
    line-height: 28px;
    text-align: justify;
  }

  ul {
    font-size: 18px;
  }
}

ul {
  list-style: none;
}

h3 {
  font-size: 30px;
  font-weight: 700;
  color: #000;
  padding: 30px 0 6px 0;
  text-transform: uppercase;
}

hr {
  background-color: grey;
  border: 0;
  height: 1px;
  margin: 0 0 1.75em;
}

.btn-primary {
  background-color: #0099cc;
  border-color: #0099cc;
}
