.card-img-top {
  object-fit: cover;
  height: 300px;
}
.container-img {
  height: 300px;
  position: relative;
  display: block;
}
.date-box {
  position: absolute;
  width: 80px;
  height: 80px;
  line-height: 80px;
  background: #0099cc;
  text-align: center;
  color: white;
  bottom: 0;
}

.card-title {
  color: white;
  font-size: 24px;
  font-weight: 700;

  a {
    color: black;
  }
}

.card-text {
  margin: 0;
  margin-bottom: 0px;
  padding: 0;
  font-size: 15px;
  font-weight: 400;
  color: #696969;
  text-align: justify;
}
