<div class="card" style="margin-top: 30px;">
  <a class="container-img" href="{{url}}">
    <div class="date-box">
      <h3>{{date}}</h3>
      <h5>{{month}}</h5>
    </div>
    <img class="card-img-top" src="{{img}}" alt="">
  </a>
  <div class="card-body">
    <h5 class="card-title">
      <a href="{{url}}">{{title}}</a>
    </h5>
    <p class="card-text">{{text}}</p>
    <a href="{{url}}" class="btn btn-primary mt-5">Selengkapnya</a>
  </div>
</div>
