<div class="container container-detail">
  <!--
  <div class="row">
    <div class="col-md-12" style="display: flex;align-items: center;justify-content: center;margin-bottom: 30px;">
      <img class="image_" src="../../../assets/image/direktur.jpg" alt="">
    </div>
  </div>
  -->
  <div class="row">
    <div class="col-12">
      <div class="title">
        Profil INJOURNEY
      </div>
      
      <div class="content">
        <p>Dengan adanya InJourney, diharapkan akan menjadi penggerak industri pariwisata nasional, menjadikan Indonesia sebagai destinasi utama wisata di dunia.</p><p>
		Injourney hadir untuk mendorong transformasi guna meningkatkan daya saing sektor pariwisata dan aviasi Indonesia.
	      </p><p>
	      Injourney mengorkestrasikan layanan transportasi (penerbangan dan kebandarudaraan), destinasi wisata, ritel, guna membangun ekosistem pariwisata berkelas dunia yang mudah diakses wisatawan.
	      </p><p>
	      Injourney sebagai perusahaan berkelas dunia dengan berbagai portofolio usaha dapat mendukung pengembangan bisnis para pelaku usaha dari swasta dan UMKM di sektor pariwisata.
	      </p><p>
	      Sudut pandang visi & misi yang ada akan menjadi selaras dan terpadu dengan visi dari Injourney. Sehingga kedepan Injourney akan menjadi ekosistem pariwisata Indonesia.
	      </p><p>
	      Mulai dari pengembangan pariwisata Indonesia dilakukan secara masif dari hulu ke hilir mulai dari SDM, konektivitas, infrastruktur, destinasi wisata, program nasional, dan sebagainya.
	      </p><p>
	      Ekosistem yang baik dapat meningkatkan daya saing pariwisata Indonesia guna mendatangkan wisatawan mancanegara.
	      </p><p>
	      Injourney dan seluruh member menjadi motor penggerak industri pariwisata melalui aset dan sumber daya yang lengkap, serta dapat bersinergi dan mendatangkan manfaat bagi pelaku usaha di sektor pariwisata.
	      </p><p>
	      Selain itu, pengembangan pariwisata lebih terarah memiliki pondasi yang kokoh dengan sinergi dan kolaborasi para stakeholder.
	      </p><p>
	      Injourney dapat menjadi perusahaan berstandar global dengan didukung member yang merupakan perusahaan terbaik di industri, Injourney akan menjadi holding dengan penetrasi pasar di regional dan global.
	      </p><p>
		Injourney menjadi ikon sebagai perusahaan yang mampu menjembatani stakeholder pariwisata nasional dengan industri
		</p>
      </div>
    </div>
  </div>
  
</div>
