<div class="container container-detail">
    <div class="row">
        <div class="col-12">
            <div class="title">
                Galeri Video
            </div>
        </div>
    </div>
    
</div>