<div class="container container-detail">
    <div class="row">
        <div class="col-md-12" style="display: flex;align-items: center;justify-content: center;margin-bottom: 30px;">
            <img class="image_" src="../../../assets/image/paket-edukasi.JPG" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="title">
                Paket Edukasi
            </div>
            <hr>
            <div class="content">
                <p>Untuk memfasilitasi wisata bagi sisiwa Jurug Solo Zoo juga menyediakan paket edukasi&nbsp;</p>
                <p>materi Paket Edukasi meliputi :</p>
                <ul>
                <ul>
                <li>Memperkenalkan satwa yang ada di Jurug Solo Zoo kepada Siswa&nbsp;</li>
                <li>memberikan stimulan motorik kepada sisiwa&nbsp;</li>
                <li>sebagai sarana rekreasi bagi siswa&nbsp;</li>
                </ul>
                </ul>
                <p>&nbsp;</p>
                <h3><strong>Paket edukasi meliputi&nbsp;&nbsp;</strong></h3>
                <p>Tiket masuk, naik kereta mini&nbsp; , naik unta tunggang , memberi pakan satwa , sanack dan pemandu&nbsp;</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mt-5">
            <a href="https://widget.globaltix.com/user/auth/R006034XMN?product=info&id=33582">
                <button  type="button" class="btn btn-primary btn-lg">
                    Beli Tiket
                </button>
            </a>
            
        </div>
    </div>
    
    </div>