<div class="container container-detail">
  <div class="row">
    <div class="col-md-12" style="display: flex;align-items: center;justify-content: center;margin-bottom: 30px;">
      <img class="image_" src="../../../assets/image/news03img01.jpeg" alt="">
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="title">
	Revitalisasi TMII -The Ultimate Showcase of Indonesia Ditargetkan Rampung di Oktober 2022 
      </div>
      <hr>
      <div class="content">
	<p>
	InJourney sebagai induk Holding BUMN Pariwisata dan Pendukung terus berkomitmen untuk mendorong kebangkitan sektor pariwisata, salah satunya dengan merevitalisasi Taman Mini Indonesia Indah (TMII). Melalui anak usahanya PT Taman Wisata Candi Borobudur, Prambanan, dan Ratu Boko, InJourney memastikan @media_twc agar dapat mengembangkan dan membuat TMII berubah lebih baik tanpa menghilangkan identitas, karakter, kebhinekaan serta keindahan Indonesia. Terlebih, TWC merupakan perusahaan yang telah berkiprah lama di bidang Heritage Destination Management.
	</p><p>
Revitalisasi ini tentunya akan menjadikan TMII sebagai The Ultimate Showcase of Indonesia. Artinya, TMII akan direvitalisasi mengusung konsep Indonesia Opera yang merepresentasikan keragaman dan kekayaan potensi daerah dan budaya Indonesia secara modern dan inspiratif. Proses revitalisasi ini diharapkan akan selesai pada Oktober 2022 untuk beberapa area utama. Tentunya dalam proses ini akan melibatkan banyak pihak yang memiliki kompetensi dan memahami esensi dari keberadaan TMII pada awalnya.
	</p><p>
	  Kedepannya TMII yang kita banggakan akan tetap menjadi pusat rekreasi edukasi yang menampilkan kebhinekaan, edukasi pulau-pulau archipelago Indonesia, kereta gantung yang menyenangkan, anjungan-anjungan rumah adat nusantara yang mempesona, serta keong emas yang melegenda akan dikembalikaan menjadi kebanggaan kita semua.
	  </p>
      </div>
    </div>
  </div>
  
</div>
