<div class="row">
    <div class="col-12">
        <iframe [src]="url"
            frameBorder="0"
            allowFullScreen
            width="100%"
            height="3050"
            style="overflow-y: none;overflow-x:none ;" 
            ></iframe>
    </div>
</div>