<div class="container container-detail">
  <div class="row">
    <div class="col-md-12" style="display: flex;align-items: center;justify-content: center;margin-bottom: 30px;">
      <img class="image_" src="../../../assets/image/news01img01.jpeg" alt="">
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="title">
        Dirut InJourney Apresiasi Yogyakarta International Airport
      </div>
      <hr>
      <div class="content">
	<p>
	  Direksi InJourney beserta jajaran manajemen melakukan kunjungan kerja di Bandara Internasional Yogyakarta (YIA) (26/01). Dalam kunjungan ini, Direksi InJourney ditemani oleh Direktur Utama PT Angkasa Pura I dan General Manager YIA berkeliling meninjau area terminal keberangkatan, area komersial, area check-in, Cordia Hotel, dan area kedatangan.
	</p>
	<p>
Selain dilengkapi fasilitas modern, YIA juga memiliki identitas budaya berupa instalasi karya seni serta ornamen dan desain interior khas Jawa. Bandara YIA menyuguhkan instalasi seni yang sangat menarik dan ikonik seperti Lawang Papat, Tamansari, Patung Bedhaya Kinjeng Wesi, dan sebagainya. Yang tak kalah menarik adalah Galeri UMKM Pasar Kotagede yang berada di area keberangkatan YIA. Dengan luas 1.513 meter persegi, galeri UMKM ini dapat merangkul hingga 600 UMKM. Galeri UMKM ini juga merupakan area khusus UMKM terbesar di bandara Indonesia.
	</p>
	<p>
Dony Oskaria, Direktur Utama InJourney mengungkapkan bahwa YIA merupakan bandara terbaik di Indonesia. Tidak hanya fasilitas dan desian interior yang unggul, namun YIA mampu memberikan experience lain kepada pengguna jasa. Sehingga, YIA sebagai bandara tidak hanya untuk bepergian naik pesawat namun sebagai pusat atraksi dan destinasi bagi masyarakat secara umum.
	</p>
	<p>
“Keunggulan YIA menjadikan motivasi untuk bandara-bandara lainnya untuk memberikan pelayanan dengan lebih baik dan melakukan upgrade experience sehingga kedepannya bandara tidak hanya sekedar tempat datang dan berangkat penumpang saja, namun dapat juga menjadi alternatif destinasi wisata,” tambah Dony.
	</p>
      </div>
    </div>
  </div>
  
</div>
