<div class="container container-detail">
  <div class="row">
    <div class="col-md-8" *ngFor="let item of newscards">
      <app-news-card
	[url]="item.url"
	[date]="item.date"
	[month]="item.month"
	[img]="item.img"
	[title]="item.title"
	[text]="item.text"
	>
      </app-news-card>
    </div>
  </div>
</div>
