<div class="container container-detail">
  <!--
  <div class="row">
    <div class="col-md-12" style="display: flex;align-items: center;justify-content: center;margin-bottom: 30px;">
      <img class="image_" src="../../../assets/image/direktur.jpg" alt="">
    </div>
  </div>
  -->
  <div class="row">
    <div class="col-12">
      <div class="title">
        Sambutan Direktur
      </div>
      
      <div class="content">
        
      </div>
    </div>
  </div>
  
</div>
