<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div *ngFor="let item of slides; let id = index"
	 [ngClass]="{'active': id == 0, 'carousel-item': true}">
      <img src="/assets/image/slide/{{item}}" class="d-block img-slide">
    </div>
    
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div class="container mb-5 " style="margin-top: 90px;">
    <div class="row">
        <div class="col-12">
            <div class="title-profile">
                PROFIL INJOURNEY
            </div>
            <div class="content-title-profile">
	      <p>Dengan adanya InJourney, diharapkan akan menjadi penggerak industri pariwisata nasional, menjadikan Indonesia sebagai destinasi utama wisata di dunia.</p><p>
		Injourney hadir untuk mendorong transformasi guna meningkatkan daya saing sektor pariwisata dan aviasi Indonesia...
	      </p><p>
		Injourney mengorkestrasikan layanan transportasi (penerbangan dan kebandarudaraan), destinasi wisata, ritel, guna membangun ekosistem pariwisata berkelas dunia yang mudah diakses wisatawan...
		<a routerLink="/profil" href="#">baca selengkapnya</a>
	      </p>
	      <br>
	      
            </div>
        </div>
    </div>
</div>
<div class="container mb-5">
    <div class="row justify-content-center text-title">
        Anggota Kami
    </div>
    <div class="row container-card">
      <div class="col-md">
	<img src="/assets/logo/angkasapura.png">
      </div>
      <div class="col-md">
	<img src="/assets/logo/angkasapura2.png">
      </div>
      <div class="col-md">
	<img src="/assets/logo/twc.png">
      </div>
      <div class="col-md">
	<img src="/assets/logo/hin.png">
      </div>
      <div class="col-md">
	<img src="/assets/logo/sarinah.png">
      </div>
    </div>
</div>
<div class="container mb-3">
    <div class="row justify-content-center text-title">
        Bundling Product
    </div>
    <div class="row container-card">
        <div class="col-md-4" *ngFor="let item of bundling;let i = index">
            <app-card 
                [to]="item.url" 
                [title]="item.title"
                [desc]="item.desc"
                [src]="item.image">
            </app-card>
        </div>
    </div>
</div>
<div class="container mb-2">
    <div class="row justify-content-center text-title">
        Destinasi
    </div>
    <div class="row container-card">
        <div class="col-md-4" *ngFor="let item of destinasi;let i = index">
            <app-card 
                [to]="item.url"
                [title]="item.title"
                [desc]="item.desc"
              [src]="item.image">
            </app-card>
        </div>
    </div>
</div>
<div class="container mb-2">
    <div class="row justify-content-center text-title">
        Berita Terbaru
    </div>
    <div class="row container-card">
        <div class="col-md-6" *ngFor="let item of newscards">
	  <app-news-card
	    [url]="item.url"
	    [date]="item.date"
	    [month]="item.month"
	    [img]="item.img"
	    [title]="item.title"
	    [text]="item.text"
	    >
	  </app-news-card>
        </div>
    </div>

</div>

