@import "/src/styles.scss";

.img-slide {
  width: 100%;
  object-fit: fill;
  z-index: 1;
  margin-top: 110px;
}

.text-title {
  margin-top: 4rem;
  font-size: 1.8rem;
  font-weight: 700;
  color: #282828;
}

.sub-text-title {
  margin-top: 2rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: $main-color;
}

.container-card {
  margin-top: 30px;
}

.bg-black-transparent {
  width: 100%;
  height: 65rem;
  position: absolute;
  background-color: rgba(0, 0, 0);
  opacity: 50%;
  z-index: 0;
}

.carousel-item {
  background-color: rgba(248, 247, 216, 0.7);
}

.content-slide {
  position: absolute;
  height: 65rem;
  width: 100%;
  z-index: 1;
}

.title-slider-content {
  font-weight: 600;
  font-size: 60px;
  color: white;
  line-height: 60px;
  padding-top: 30px;
}

.body-slider-content {
  font-size: 24px;
  font-weight: 700;
  padding-top: 30px;
  color: white;
}

.container-button-slider {
  padding-top: 30px;
}

.logo_ {
  width: 400px;
}

.title-profile {
  font-size: 36px;
  color: #070707;
  font-weight: 700;
}

.content-title-profile {
  margin: 0;
  margin-bottom: 0px;
  padding: 0;
  font-size: 18px;
  font-weight: 400;
  color: #696969;
  line-height: 30px;
}

.container-card div {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
