<div class="container container-detail">

<div class="row">
    <div class="col-12">
        <div class="title">
            Sejarah
        </div>

        <div class="content">
          <p></p>
        </div>
    </div>
</div>

</div>
