<div class="container container-detail">
    <div class="row">
        <div class="col-12">
            <div class="title">
                Visi - Misi 
            </div>
    
            <div class="content">
                <hr>
                <p>Visi :</p>
                
                <p>&nbsp;</p>
                <p>Misi : </p>
		
                <p>&nbsp;</p> 
            </div>
        </div>
    </div>
    
    </div>
